* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}

#container {
	display: none;
}

#login {
	display: block;
	height: 250px;
	width: 500px;
	left: calc(50% - 250px);
	top: calc(50% - 125px);
	padding: 20px;
}
#login *{
	margin: 5px;
}
#login .title{
	font-weight: 500;
	font-size: 20px;
	line-height: 45px;
	height: 45px;
}
.closeButton {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 25px;
	right: 25px;
}
.closeButton:hover {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.popBox {
	text-align: center;
	display: none;
	position: absolute;
	border: solid grey 1px;
	background-color:rgba(255,255,255,0.85);
}
.timer {
	color: red;
}

.title {
	text-align: center;
}

.eventBox {

	width: 560px;
	height: 300px;
	left: calc(50% - 280px);
	top: calc(50% - 150px);
	padding: 20px;

}
