<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="stylesheets/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <a href="./second_index.html" title="COOL">COOL</a>
  <div id="container">
    <h2>Hello</h2>
    <div id="chatRoom">
		<ul tabindex="1" id="messages"></ul>
		<form action="">
			<input id="messageForm" autocomplete="off" type="text" />
      <input type="button" id="sendButton" value="Submit" onclick="sendMessage()">
		</form>
	</div>
  <div id="leaderboard">
    <table border="1">
	  <tr>
		<td>Player</td>
		<td>Money</td>
    <td></td>
	  </tr>
    　<tr>
	    <td id="player0name">...</td>
      　<td id="player0money">這裡是第一行的第二個欄位</td>
        <td>這裡是第一行的第二個欄位</td>
      </tr>
    　<tr>
      　<td id="player1name">這裡是第二行的第一個欄位</td>
      　<td id="player1money">這裡是第二行的第二個欄位</td>
        <td>這裡是第一行的第二個欄位</td>
    　</tr>
      <tr>
      　<td id="player2name">這裡是第二行的第一個欄位</td>
      　<td id="player2money">這裡是第二行的第二個欄位</td>
        <td>這裡是第一行的第二個欄位</td>
    　</tr>
      <tr>
      　<td id="player3name">這裡是第二行的第一個欄位</td>
      　<td id="player3money">這裡是第二行的第二個欄位</td>
        <td>這裡是第一行的第二個欄位</td>
    　</tr>
      <tr>
      　<td id="player4name">這裡是第二行的第一個欄位</td>
      　<td id="player4money">這裡是第二行的第二個欄位</td>
        <td>這裡是第一行的第二個欄位</td>
    　</tr>
    </table>
    
  </div>
  </div>

  <div id="login" class="popBox">
	<div class="title" id="welcome">Welcome to 2018 CSIE camp StarWar!</div>
    請輸入小隊編號： <input id="teamID" type="number" /> <br/>
    請輸入小隊名稱： <input id="teamName" type="text" maxlength="8"/> <br/>
    請輸入小隊密碼： <input id="teamPassword" type="password"/> <br/>
    <input type="button" id="loginButton" value="Submit" onclick="login()">
  </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/view.js"></script>
<script src="js/chatRoom.js"></script>
<script src="js/leaderBoard.js"></script>
