<!-- bg picture will be update to a clean one and some planet, so no need to worried about size -->

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/view.js"></script>
<script src="js/chatRoom.js"></script>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="stylesheets/index.css">
  <link type="text/css" rel="stylesheet" href="stylesheets/planet.css" />
</head>
<body>
  <div class="container" id = "container">
    <div class = "main-window" id = "test">
      <span class = "player-info" id = "player-info-box">
      </span>
      <span class = "side-form" id = "test"> 

      </span>
      <span class = "planet-orange" id = "m0" style="left: 425.7px; top: 230.5px;"></span>
      <span class = "planet-orange" id = "m1" style="left: 1251.7px; top: 23.5px;"></span>
      <span class = "planet-orange" id = "m2" style="left: 45.7px; top: 410.5px;"></span>
      <span class = "planet-orange" id = "m3" style="left: 1024.7px; top: 512.5px;"></span>
      <span class = "planet-orange" id = "m4" style="left: 342.7px; top: 630.5px;"></span>
      <span class = "planet-orange" id = "m5" style="left: 589.7px; top: 420.5px;"></span>
      <span class = "planet-orange" id = "m6" style="left: 686.7px; top: 330.5px;"></span>
      <span class = "planet-orange" id = "m7" style="left: 510.7px; top: 10.5px;"></span>
      <span class = "planet-orange" id = "m8" style="left: 123.4px; top: 225.4px;"></span>
      <span class = "planet-orange" id = "m9" style="left: 966.6px; top: 630.5px;"></span>
      <span class = "planet-red" id = "c0" style="left: 346.6px; top: 431.5px;"></span>
      <span class = "planet-red" id = "c1" style="left: 616.6px; top: 230.5px;"></span>
      <span class = "planet-red" id = "c2" style="left: 1166.6px; top: 130.5px;"></span>
      <span class = "planet-red" id = "c3" style="left: 966.6px; top: 230.5px;"></span>
      <span class = "planet-red" id = "c4" style="left: 366.6px; top: 330.5px;"></span>
      <span class = "planet-blue" id = "a0" style="left: 1066.6px; top: 530.5px;"></span>
      <span class = "planet-blue" id = "a1" style="left: 926.6px; top: 270.5px;"></span>
      <span class = "planet-blue" id = "a2" style="left: 634.4px; top: 30.5px;"></span>
      <span class = "planet-blue" id = "a3" style="left: 992.5px; top: 335.5px;"></span>
      <span class = "planet-blue" id = "a4" style="left: 831.1px; top: 700.5px;"></span>
      <span class = "planet-blue" id = "a5" style="left: 66.6px; top: 677.5px;"></span>
      <span class = "planet-blue" id = "a6" style="left: 466.6px; top: 666.6px;"></span>
      <span class = "planet-blue" id = "a7" style="left: 366.6px; top: 130.5px;"></span>
      <span class = "planet-blue" id = "a8" style="left: 10.6px; top: 445.2px;"></span>
      <span class = "planet-blue" id = "a9" style="left: 166.6px; top: 632.1px;"></span>
      <span class = "planet-blue" id = "a10" style="left: 266.6px; top: 230.5px;"></span>
      <span class = "planet-blue" id = "a11" style="left: 366.6px; top: 532.1px;"></span>
      <span class = "planet-blue" id = "a12" style="left: 866.6px; top: 72.5px;"></span>
      <span class = "planet-blue" id = "a13" style="left: 66.6px; top: 512.3px;"></span>
      <span class = "planet-blue" id = "a14" style="left: 466.6px; top: 183.5px;"></span>
      <span class = "planet-base" id = "b0" style="left: 206.6px; top: 400.5px;"></span>
      <span class = "planet-base" id = "b1" style="left: 766.6px; top: 183.5px;"></span>
      <span class = "planet-base" id = "b2" style="left: 716.6px; top: 583.5px;"></span>
      <span class = "planet-base" id = "b3" style="left: 566.6px; top: 283.5px;"></span>
      <span class = "planet-base" id = "b4" style="left: 1066.6px; top: 331.5px;"></span>


    </div>
  </div>

  <div id="login" class="popBox">
	<div class="title" id="welcome">Welcome to 2018 CSIE camp StarWar!</div>
    請輸入小隊編號： <input id="teamID" type="number" /> <br/>
    請輸入小隊名稱： <input id="teamName" type="text" maxlength="8"/> <br/>
    請輸入小隊密碼： <input id="teamPassword" type="password"/> <br/>
    <input type="button" id="loginButton" value="Submit" onclick="login()">
  </div>
</body>
</html>


