<!-- bg picture will be update to a clean one and some planet, so no need to worried about size -->

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

<html>
<head>
	<link type="text/css" rel="stylesheet" href="stylesheets/index.css">
	<link type="text/css" rel="stylesheet" href="stylesheets/planet.css" />
	<link type="text/css" rel="stylesheet" href="stylesheets/adminbutton.css" />
	<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="main-window">
		<!-- login window -->
		<div id="login" class="confirmOverlay">
			<div class="alertBox">
				<h1 >Welcome to 2018 CSIE camp StarWar!</h1>
				<span>PlayerID : <input id="teamID" type="number" class="minion_num" style="margin: 10px 10px 10px 20px; padding: 5px;" /></span></br>
				<span>Account : <input id="teamName" type="text" class="minion_num" style="margin: 10px 10px 10px 20px; padding: 5px;" /></span></br>
				<span>Passwd : <input id="teamPassword" type="passwordr" class="minion_num" style="margin: 10px 10px 10px 26.5px; padding: 5px;" /></span></br>
				<div class="confirmButtons">
					<a href="#" class="button" onclick="login()">Login<span></span></a>
				</div>
				<!-- <input class="button" type="button" id="loginButton" value="Login" onclick="login()">				 -->
			</div>
		</div>
		<!-- planet  -->
		<div class="map">
			<span class = "planet-orange" id = "m0" style="left: 475.7px; top: 240.5px;"></span>
			<span class = "planet-orange" id = "m1" style="left: 991.7px; top: 33.5px;"></span>
			<span class = "planet-orange" id = "m2" style="left: 85.7px; top: 420.5px;"></span>
			<span class = "planet-orange" id = "m3" style="left: 1264.7px; top: 122.5px;"></span>
			<span class = "planet-orange" id = "m4" style="left: 382.7px; top: 610.5px;"></span>
			<span class = "planet-orange" id = "m5" style="left: 529.7px; top: 580.5px;"></span>
			<span class = "planet-orange" id = "m6" style="left: 666.7px; top: 340.5px;"></span>
			<span class = "planet-orange" id = "m7" style="left: 550.7px; top: 120.5px;"></span>
			<span class = "planet-orange" id = "m8" style="left: 163.4px; top: 235.4px;"></span>
			<span class = "planet-orange" id = "m9" style="left: 1006.6px; top: 640.5px;"></span>
			<span class = "planet-red" id = "c0" style="left: 346.6px; top: 591.5px;"></span>
			<span class = "planet-red" id = "c1" style="left: 656.6px; top: 240.5px;"></span>
			<span class = "planet-red" id = "c2" style="left: 336.6px; top: 110.5px;"></span>
			<span class = "planet-red" id = "c3" style="left: 1006.6px; top: 240.5px;"></span>
			<span class = "planet-red" id = "c4" style="left: 426.6px; top: 700.5px;"></span>
			<span class = "planet-blue" id = "a0" style="left: 1106.6px; top: 140.5px;"></span>
			<span class = "planet-blue" id = "a1" style="left: 966.6px; top: 280.5px;"></span>
			<span class = "planet-blue" id = "a2" style="left: 674.4px; top: 140.5px;"></span>
			<span class = "planet-blue" id = "a3" style="left: 1032.5px; top: 345.5px;"></span>
			<span class = "planet-blue" id = "a4" style="left: 871.1px; top: 660.5px;"></span>
			<span class = "planet-blue" id = "a5" style="left: 106.6px; top: 287.5px;"></span>
			<span class = "planet-blue" id = "a6" style="left: 506.6px; top: 676.6px;"></span>
			<span class = "planet-blue" id = "a7" style="left: 406.6px; top: 140.5px;"></span>
			<span class = "planet-blue" id = "a8" style="left: 50.6px; top: 455.2px;"></span>
			<span class = "planet-blue" id = "a9" style="left: 206.6px; top: 382.1px;"></span>
			<span class = "planet-blue" id = "a10" style="left: 406.6px; top: 240.5px;"></span>
			<span class = "planet-blue" id = "a11" style="left: 406.6px; top: 542.1px;"></span>
			<span class = "planet-blue" id = "a12" style="left: 986.6px; top: 182.5px;"></span>
			<span class = "planet-blue" id = "a13" style="left: 106.6px; top: 322.3px;"></span>
			<span class = "planet-blue" id = "a14" style="left: 506.6px; top: 193.5px;"></span>
			<span class = "planet-base" id = "b0" style="left: 296.6px; top: 410.5px;"></span>
			<span class = "planet-base" id = "b1" style="left: 646.6px; top: 193.5px;"></span>
			<span class = "planet-base" id = "b2" style="left: 956.6px; top: 543.5px;"></span>
			<span class = "planet-base" id = "b3" style="left: 606.6px; top: 293.5px;"></span>
			<span class = "planet-base" id = "b4" style="left: 1106.6px; top: 271.5px;"></span>

			<span class = "planet-unreached" id = "m0" style="left: 475.7px; top: 240.5px;"></span>
			<span class = "planet-unreached" id = "m1" style="left: 991.7px; top: 33.5px;"></span>
			<span class = "planet-unreached" id = "m2" style="left: 85.7px; top: 420.5px;"></span>
			<span class = "planet-unreached" id = "m3" style="left: 1264.7px; top: 122.5px;"></span>
			<span class = "planet-unreached" id = "m4" style="left: 382.7px; top: 610.5px;"></span>
			<span class = "planet-unreached" id = "m5" style="left: 529.7px; top: 580.5px;"></span>
			<span class = "planet-unreached" id = "m6" style="left: 666.7px; top: 340.5px;"></span>
			<span class = "planet-unreached" id = "m7" style="left: 550.7px; top: 120.5px;"></span>
			<span class = "planet-unreached" id = "m8" style="left: 163.4px; top: 235.4px;"></span>
			<span class = "planet-unreached" id = "m9" style="left: 1006.6px; top: 640.5px;"></span>
			<span class = "planet-unreached" id = "c0" style="left: 346.6px; top: 591.5px;"></span>
			<span class = "planet-unreached" id = "c1" style="left: 656.6px; top: 240.5px;"></span>
			<span class = "planet-unreached" id = "c2" style="left: 336.6px; top: 110.5px;"></span>
			<span class = "planet-unreached" id = "c3" style="left: 1006.6px; top: 240.5px;"></span>
			<span class = "planet-unreached" id = "c4" style="left: 426.6px; top: 700.5px;"></span>
			<span class = "planet-unreached" id = "a0" style="left: 1106.6px; top: 140.5px;"></span>
			<span class = "planet-unreached" id = "a1" style="left: 966.6px; top: 280.5px;"></span>
			<span class = "planet-unreached" id = "a2" style="left: 674.4px; top: 140.5px;"></span>
			<span class = "planet-unreached" id = "a3" style="left: 1032.5px; top: 345.5px;"></span>
			<span class = "planet-unreached" id = "a4" style="left: 871.1px; top: 660.5px;"></span>
			<span class = "planet-unreached" id = "a5" style="left: 106.6px; top: 287.5px;"></span>
			<span class = "planet-unreached" id = "a6" style="left: 506.6px; top: 676.6px;"></span>
			<span class = "planet-unreached" id = "a7" style="left: 406.6px; top: 140.5px;"></span>
			<span class = "planet-unreached" id = "a8" style="left: 50.6px; top: 455.2px;"></span>
			<span class = "planet-unreached" id = "a9" style="left: 206.6px; top: 382.1px;"></span>
			<span class = "planet-unreached" id = "a10" style="left: 406.6px; top: 240.5px;"></span>
			<span class = "planet-unreached" id = "a11" style="left: 406.6px; top: 542.1px;"></span>
			<span class = "planet-unreached" id = "a12" style="left: 986.6px; top: 182.5px;"></span>
			<span class = "planet-unreached" id = "a13" style="left: 106.6px; top: 322.3px;"></span>
			<span class = "planet-unreached" id = "a14" style="left: 506.6px; top: 193.5px;"></span>
			<span class = "planet-unreached" id = "b0" style="left: 306.6px; top: 460.5px;"></span>
			<span class = "planet-unreached" id = "b1" style="left: 666.6px; top: 173.5px;"></span>
			<span class = "planet-unreached" id = "b2" style="left: 936.6px; top: 573.5px;"></span>
			<span class = "planet-unreached" id = "b3" style="left: 636.6px; top: 313.5px;"></span>
			<span class = "planet-unreached" id = "b4" style="left: 1116.6px; top: 271.5px;"></span>
		</div>
		<!-- chatroom  -->
		<div class="chatroom">
			<p class="title"> Chat room</p>
			<div id="chat_msg">
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
				<ul class="chatroom_content">[Player 1]：你是在公三小喔喔喔喔喔喔喔喔喔</ul>
			</div>
			<div class="user_chat">
				<button class="chat_button">Send</button><input class="chat"/>
			</div>
		</div>
		<!-- score board -->
		<div>
			<div class = "leaderBoard">
				<div class='player-info'>
					<div class="number">Team</div>
					<div class="name">Name</div>
					<div class="money">Money</div>
				</div>
				<div id = 'Team1' class='player-info'>
					<div class="number">#1</div>
					<div class="name">XDDDD</div>
					<div class="money">200</div>
				</div>
				<div id = 'Team2' class='player-info'>
					<div class="number">#2</div>
					<div class="name">XDDDD</div>
					<div class="money">200</div>
				</div>
				<div id = 'Team3' class='player-info'>
					<div class="number">#3</div>
					<div class="name">XDDDD</div>
					<div class="money">200</div>
				</div>
				<div id = 'Team4' class='player-info'>
					<div class="number">#4</div>
					<div class="name">XDDDD</div>
					<div class="money">200</div>
				</div>
				<div id = 'Team5' class='player-info'>
					<div class="number">#5</div>
					<div class="name">XDDDD</div>
					<div class="money">200</div>
				</div>
			</div>	
		</div>
		<!-- day -->
		<div class="count_day">
			<div id="day">
				20
			</div>
		</div>
	</div>
</body>
</html>
<script src="js/view.js"></script>
<script src="js/chatRoom.js"></script>
<script src="js/leaderBoard.js"></script>
<script src="js/notify.js"></script>
<script src="js/skillTree.js"></script>
<script src="js/adminbutton.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> -->
<!-- <script src="/socket.io/socket.io.js"></script> -->

