<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="stylesheets/index2.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<h1 class="title">Control Panel</h1>
<div class="wrapper">
	<div class="character">
		<img src="./pic/char1.png" width="389" height="457"></img>
		<div class="title">Money : <span id="Money">10</span> BTC</div>
		<div class="title">Available Ships : <span id="Ship">5</span> </div>
	</div>
	<div class="Resources">
		<div class="Workers">
			<div class="workers_frame">
				<div class="worker_img_slot">
					<div class="workers_img">
						<img class="AI_png" src="./pic/AI3.png" width="92.5" height="92.5"></img>
					</div>
				</div>
				<div class="workers_type">Trainer</div>
				<button class="add_minus_button" onclick="minus_trainer()">-</button>
				<div class="Worker_num">
					<div class="worker_num">Working : <span id="working_trainer_num">0</span></div>
					<div class="worker_num">Standby : <span id="standby_trainer_num">0</span></div>
				</div>
				<button class="add_minus_button" onclick="add_trainer()">+</button>
			</div>
			<div class="workers_frame">
				<div class="worker_img_slot">
					<div class="workers_img">
						<img class="worker_png" src="./pic/MINER.png" width="100" height="92.5"></img>
					</div>
				</div>
				<div class="workers_type">Miner</div>
				<button class="add_minus_button" onclick="minus_miner()">-</button>
				<div class="Worker_num">
					<div class="worker_num">Working :  <span id="working_miner_num">0</span></div>
					<div class="worker_num">Standby :  <span id="standby_miner_num">0</span></div>
				</div>
				<button class="add_minus_button" onclick="add_miner()">+</button>
			</div>
			<div class="workers_frame">
				<div class="worker_img_slot">
					<div class="workers_img">
						<img class="worker_png" src="./pic/HACKER.png" width="90" height="92.5"></img>
					</div>
				</div>
				<div class="workers_type">Hacker</div>
				<button class="add_minus_button" onclick="minus_hacker()">-</button>
				<div class="Worker_num">
					<div class="worker_num">Working : <span id="working_hacker_num">0</span></div>
					<div class="worker_num">Standby : <span id="standby_hacker_num">0</span></div>
				</div>
				<button class="add_minus_button" onclick="add_hacker()">+</button>
			</div>
		</div>
		<div class="Items">
			<div class="items_block">
				<div class="items_frame">
					<div class="items_img">
						<img class="worker_png" src="./pic/audio.png" width="30" height="30"></img>
					</div>
					<div class="items_type">Endearing Flutesong <span id:"audio_num">0</span></div>
				</div>
				<div class="items_frame">
					<div class="items_img">
						<img class="worker_png" src="./pic/image.png" width="42" height="42"></img>
					</div>
					<div class="items_type">Surreal Landscape &nbsp&nbsp <span id:"image_num">0</span></div>
				</div>
				<div class="items_frame">
					<div class="items_img">
						<img class="worker_png" src="./pic/text.png" width="42" height="42"></img>
					</div>
					<div class="items_type">Sentimental Letter &nbsp&nbsp <span id:"text_num">0</span></div>
				</div>
			</div>
			<div class="items_block">
				<div class="items_frame">
					<div class="items_img">
						<img class="worker_png" src="./pic/audio_m.png" width="40" height="40"></img>
					</div>
					<div class="items_type">Phoney Tunes &nbsp <span id:"audioM_num">0</span></div>
				</div>
				<div class="items_frame">
					<div class="items_img">
						<img class="worker_png" src="./pic/image_m.png" width="42" height="42"></img>
					</div>
					<div class="items_type">Alien Drawings&nbsp <span id:"imageM_num">0</span></div>
				</div>
				<div class="items_frame">
					<div class="items_img">
						<img class="worker_png" src="./pic/text_m.png" width="42" height="42"></img>
					</div>
					<div class="items_type">Forged Notes &nbsp&nbsp <span id:"textM_num">0</span></div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="Mission_Status">
	<h2 class="subtitle">Ongoing_Mission</h2>
	<div class="content_wrapper">
		<div class="category">Type</div>
		<div class="category">Target</div>
		<div class="category"># of Miner</div>
		<div class="category"># of Trainer</div>
		<div class="category"># of Hacker</div>
		<div class="category">State</div>
		<div class="category">Return</div>
	</div>
	<div class="Mission_Block">
		<div class="slot_wrapper">
			<div id="ongoing_mblock_slot1_type" class="content">Mine</div>
			<div id="ongoing_mblock_slot1_location" class="content">Alpha</div>
			<div id="ongoing_mblock_slot1_M" class="content">0</div>
			<div id="ongoing_mblock_slot1_T" class="content">1</div>
			<div id="ongoing_mblock_slot1_H" class="content">0</div>
			<div id="ongoing_mblock_slot1_State" class="content">Working</div>
			<div id="ongoing_mblock_slot1_back" class="content">
				<label class="rest">
  					<input type="checkbox" checked="checked" id="debug" onclick="comeback(1)">
  					<span class="checkmark" ></span>
				Callback</label>
			</div>
		</div>	
	</div>
	<div class="Mission_Block">
		<div class="slot_wrapper">
			<div id="ongoing_mblock_slot2_type" class="content">Mine</div>
			<div id="ongoing_mblock_slot2_location" class="content">Alpha</div>
			<div id="ongoing_mblock_slot2_M" class="content">0</div>
			<div id="ongoing_mblock_slot2_T" class="content">0</div>
			<div id="ongoing_mblock_slot2_H" class="content">0</div>
			<div id="ongoing_mblock_slot2_State" class="content">Working</div>
			<div id="ongoing_mblock_slot2_back" class="content">
				<label class="rest">
  					<input type="checkbox" checked="checked" onclick="comeback(2)">
  					<span class="checkmark"></span>
				Callback</label>
			</div>
		</div>	
	</div>
	<div class="Mission_Block">
		<div class="slot_wrapper">
			<div id="ongoing_mblock_slot3_type" class="content">Mine</div>
			<div id="ongoing_mblock_slot3_location" class="content">Alpha</div>
			<div id="ongoing_mblock_slot3_M" class="content">0</div>
			<div id="ongoing_mblock_slot3_T" class="content">0</div>
			<div id="ongoing_mblock_slot3_H" class="content">0</div>
			<div id="ongoing_mblock_slot3_State" class="content">Working</div>
			<div id="ongoing_mblock_slot3_back" class="content">
				<label class="rest">
  					<input type="checkbox" checked="checked" onclick="comeback(3)">
  					<span class="checkmark"></span>
				Callback</label>
			</div>
		</div>	
	</div>
	<div class="Mission_Block">
		<div class="slot_wrapper">
			<div id="ongoing_mblock_slot4_type" class="content">Mine</div>
			<div id="ongoing_mblock_slot4_location" class="content">Alpha</div>
			<div id="ongoing_mblock_slot4_M" class="content">0</div>
			<div id="ongoing_mblock_slot4_T" class="content">0</div>
			<div id="ongoing_mblock_slot4_H" class="content">0</div>
			<div id="ongoing_mblock_slot4_State" class="content">Working</div>
			<div id="ongoing_mblock_slot4_back" class="content">
				<label class="rest">
  					<input type="checkbox" checked="checked" >
  					<span class="checkmark"></span>
				Callback</label>
			</div>
		</div>	
	</div>
	<div class="Mission_Block">
		<div class="slot_wrapper">
			<div id="ongoing_mblock_slot5_type" class="content">Mine</div>
			<div id="ongoing_mblock_slot5_location" class="content">Alpha</div>
			<div id="ongoing_mblock_slot5_M" class="content">0</div>
			<div id="ongoing_mblock_slot5_T" class="content">0</div>
			<div id="ongoing_mblock_slot5_H" class="content">0</div>
			<div id="ongoing_mblock_slot5_State" class="content">Working</div>
			<div id="ongoing_mblock_slot5_back" class="content">
				<label class="rest">
  					<input type="checkbox" checked="checked">
  					<span class="checkmark"></span>
				Callback</label>
			</div>
		</div>	
	</div>
	<!-- Mission Assign  -->
	<h2 class="subtitle">Mission_Assign</h2>
	<div class="content_wrapper">
		<div class="category">Type</div>
		<div class="category">Target</div>
		<div class="category"># of Miner</div>
		<div class="category"># of Trainer</div>
		<div class="category"># of Hacker</div>
		<div class="category">Carry Item</div>
		<div class="category">Confirm</div>
	</div>
	<div class="Mission_Block">
		<div class="slot_wrapper">
			<div class="content ">
				<form>
					<select id="assign_mblock_slot1_type" class="choosetype" name="YourLocation">
						<option value="none">Job Choice</option>
						<option value="Mine Planet">Mine</option>
						<option value="AI Center">AI Center</option>
						<option value="Abandoned Planet">Abandoned</option>
						<option value="Learn Skill">Unknown</option>
						<option value="Learn Skill">Learn Skill</option>
					</select>
				</form>
			</div>
			<div id="assign_mblock_slot1_location" class="content">Alpha</div>
			<div class="content">
				<input id="assign_mblock_slot1_M" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div class="content">
				<input id="assign_mblock_slot1_T" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div class="content">
				<input id="assign_mblock_slot1_H" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div id="assign_mblock_slot1_State" class="content">
				<form >
					<select class="choosetype" name="YourItem" style="width: 80px";>
						<option value="Mine Planet">Phoney Tunes</option>
						<option value="AI Center">Alien Drawings</option>
						<option value="Abandoned Planet">Forged Notes</option>
						<option value="Abandoned Planet">Nothing</option>
					</select>
				</form>
			</div>
			<div id="assign_mblock_slot1_back" class="content">
				<label class="rest">
  					<input type="checkbox" checked="checked" onclick="submit_mission(1)">
  					<span class="checkmark"></span>
				Submit</label>
			</div>
		</div>	
	</div>
	<div class="Mission_Block">
		<div class="slot_wrapper">
			<div class="content ">
				<form>
					<select id="assign_mblock_slot2_type" class="choosetype" name="YourLocation">
						<option value="none">Job Choice</option>
						<option value="Mine Planet">Mine</option>
						<option value="AI Center">AI Center</option>
						<option value="Abandoned Planet">Abandoned</option>
						<option value="Learn Skill">Unknown</option>
						<option value="Learn Skill">Learn Skill</option>
					</select>
				</form>
			</div>
			<div id="assign_mblock_slot2_location" class="content">Alpha</div>
			<div class="content">
				<input id="assign_mblock_slot2_M" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div class="content">
				<input id="assign_mblock_slot2_T" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div class="content">
				<input id="assign_mblock_slot2_H" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div id="assign_mblock_slot2_State" class="content">
				<form >
					<select class="choosetype" name="YourItem" style="width: 80px";>
						<option value="Mine Planet">Phoney Tunes</option>
						<option value="AI Center">Alien Drawings</option>
						<option value="Abandoned Planet">Forged Notes</option>
						<option value="Abandoned Planet">Nothing</option>
					</select>
				</form>
			</div>
			<div id="assign_mblock_slot2_back" class="content">
				<label class="rest">
  					<input type="checkbox" checked="checked">
  					<span class="checkmark"></span>
				Submit</label>
			</div>
		</div>	
	</div>
	<div class="Mission_Block">
		<div class="slot_wrapper">
			<div class="content ">
				<form>
					<select id="assign_mblock_slot3_type" class="choosetype" name="YourLocation">
						<option value="none">Job Choice</option>
						<option value="Mine Planet">Mine</option>
						<option value="AI Center">AI Center</option>
						<option value="Abandoned Planet">Abandoned</option>
						<option value="Learn Skill">Unknown</option>
						<option value="Learn Skill">Learn Skill</option>
					</select>
				</form>
			</div>
			<div id="assign_mblock_slot3_location" class="content">Alpha</div>
			<div class="content">
				<input id="assign_mblock_slot3_M" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div class="content">
				<input id="assign_mblock_slot3_T" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div class="content">
				<input id="assign_mblock_slot3_H" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div id="assign_mblock_slot3_State" class="content">
				<form >
					<select class="choosetype" name="YourItem" style="width: 80px";>
						<option value="Mine Planet">Phoney Tunes</option>
						<option value="AI Center">Alien Drawings</option>
						<option value="Abandoned Planet">Forged Notes</option>
						<option value="Abandoned Planet">Nothing</option>
					</select>
				</form>
			</div>
			<div id="assign_mblock_slot3_back" class="content">
				<label class="rest">
  					<input type="checkbox" checked="checked">
  					<span class="checkmark"></span>
				Submit</label>
			</div>
		</div>	
	</div>
	<div class="Mission_Block">
		<div class="slot_wrapper">
			<div class="content ">
				<form>
					<select id="assign_mblock_slot4_type" class="choosetype" name="YourLocation">
						<option value="none">Job Choice</option>
						<option value="Mine Planet">Mine</option>
						<option value="AI Center">AI Center</option>
						<option value="Abandoned Planet">Abandoned</option>
						<option value="Learn Skill">Unknown</option>
						<option value="Learn Skill">Learn Skill</option>
					</select>
				</form>
			</div>
			<div id="assign_mblock_slot4_location" class="content">Alpha</div>
			<div class="content">
				<input id="assign_mblock_slot4_M" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div class="content">
				<input id="assign_mblock_slot4_T" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div class="content">
				<input id="assign_mblock_slot4_H" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div id="assign_mblock_slot4_State" class="content">
				<form >
					<select class="choosetype" name="YourItem" style="width: 80px";>
						<option value="Mine Planet">Phoney Tunes</option>
						<option value="AI Center">Alien Drawings</option>
						<option value="Abandoned Planet">Forged Notes</option>
						<option value="Abandoned Planet">Nothing</option>
					</select>
				</form>
			</div>
			<div id="assign_mblock_slot4_back" class="content">
				<label class="rest">
  					<input type="checkbox" checked="checked">
  					<span class="checkmark"></span>
				Submit</label>
			</div>
		</div>	
	</div>
	<div class="Mission_Block">
		<div class="slot_wrapper">
			<div class="content">
				<form>
					<select id="assign_mblock_slot5_type" class="choosetype" name="YourLocation">
						<option value="none">Job Choice</option>
						<option value="Mine Planet">Mine</option>
						<option value="AI Center">AI Center</option>
						<option value="Abandoned Planet">Abandoned</option>
						<option value="Learn Skill">Unknown</option>
						<option value="Learn Skill">Learn Skill</option>
					</select>
				</form>
			</div>
			<div id="assign_mblock_slot5_location" class="content">Alpha</div>
			<div class="content">
				<input class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div id="assign_mblock_slot5_T" class="content">
				<input id="assign_mblock_slot5_M" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div class="content">
				<input id="assign_mblock_slot5_H" class="minion_num" type="number" name="# of miner" style="width: 50px";>
			</div>
			<div id="assign_mblock_slot5_State" class="content">
				<form >
					<select class="choosetype" name="YourItem" style="width: 80px";>
						<option value="Mine Planet">Phoney Tunes</option>
						<option value="AI Center">Alien Drawings</option>
						<option value="Abandoned Planet">Forged Notes</option>
						<option value="Abandoned Planet">Nothing</option>
					</select>
				</form>
			</div>
			<div id="assign_mblock_slot5_back" class="content">
				<label class="rest">
  					<input type="checkbox" checked="checked">
  					<span class="checkmark"></span>
				Submit</label>
			</div>
		</div>	
	</div>
</div>
<div class="Skill_Status">
	<h2 class="skilltitle">Skills</h2>
	<div class="Skill_Tree">
	</div>
</div>
</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="js/panel/update_worker.js"></script>
<script src="js/panel/mission_worker.js"></script>
<!-- <script src="js/popup.js"></script> -->
<!-- <script src="js/chatRoom.js"></script> -->
<!-- <script src="js/leaderBoard.js"></script> -->
